services:

  directory-lister:
    image: directorylister/directorylister:${DIRECTORY_LISTER_VERSION:-5}
    env_file: environment.d/directory-lister.env
    environment:
      CACHE_DRIVER: valkey
      REDIS_HOST: cache
      REDIS_PORT: 6379
    ports:
      - ${DIRECTORY_LISTER_PORT:-80}:80
    volumes:
      - ${FILES_PATH}:/data
      - /etc/localtime:/etc/localtime:ro
    depends_on: [cache]
    restart: unless-stopped

  cache:
    image: valkey/valkey:${VALKEY_VERSION:-9}
    volumes:
      - ${CACHE_VOLUME:-cache-data}:/data
      - /etc/localtime:/etc/localtime:ro
    restart: unless-stopped

  watchtower:
    image: containrrr/watchtower:${WATCHTOWER_VERSION:-latest}
    env_file: environment.d/watchtower.env
    environment:
      WATCHTOWER_SCOPE: ${COMPOSE_PROJECT_NAME}
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - /etc/localtime:/etc/localtime:ro
    labels:
      com.centurylinklabs.watchtower.scope: ${COMPOSE_PROJECT_NAME}
    restart: unless-stopped

volumes:
  cache-data: {}
