services:

  directory-lister:
    image: phlak/directory-lister:${DIRECTORY_LISTER_VERSION:-latest}
    env_file: environment.d/directory-lister.env
    environment:
      CACHE_DRIVER: redis
      REDIS_HOST: redis
      REDIS_PORT: 6379
    ports:
      - ${DIRECTORY_LISTER_PORT:-80}:80
    volumes:
      - ${FILES_PATH}:/data
      - /etc/localtime:/etc/localtime:ro
    depends_on: [redis]
    restart: unless-stopped

  redis:
    image: redis:${REDIS_VERSION:-latest}
    volumes:
      - /etc/localtime:/etc/localtime:ro
    restart: unless-stopped

  watchtower:
    image: containrrr/watchtower:${WATCHTOWER_VERSION:-latest}
    env_file: environment.d/watchtower.env
    environment:
      WATCHTOWER_SCOPE: ${COMPOSE_PROJECT_NAME}
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - /etc/localtime:/etc/localtime:ro
    labels:
      com.centurylinklabs.watchtower.scope: ${COMPOSE_PROJECT_NAME}
    restart: unless-stopped
